DATABASE_URL= 
EMAIL_USER=
EMAIL_PASS=
EMAIL_FROM=
PORT=8081
SECRET_KEY=
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_CALLBACK_URL="http://localhost:8000/api/auth/google/callback"
API_GATEWAY="http://api-gateway:8080"
RABBITMQ_URL=
RABITMQ_PORT=5672
CLOUDINARY_CLOUD_NAME=
CLOUDINARY_API_KEY=
CLOUDINARY_API_SECRET=
FRONTEND_URL="http://localhost:8000"
ADMIN_EMAIL=
ADMIN_PASSWORD=
ADMIN_NAME="mol chi"